In [1]:
import pandas as pd
import numphy as np

In [4]:
df=pd.read_csv("fact_bookings.csv")

In [2]:
ls

 Volume in drive C is OS
 Volume Serial Number is B8CB-B37E

 Directory of C:\Users\DELL\financial crime analysis

02-10-2022  14:07    <DIR>          .
02-10-2022  14:07    <DIR>          ..
02-10-2022  14:07    <DIR>          .ipynb_checkpoints
08-09-2022  23:33           326,177 accounts.csv
08-09-2022  23:33            88,071 alerts.csv
02-10-2022  14:07        13,183,046 fact_bookings.csv
13-09-2022  15:46            50,104 financial crime analysis.ipynb
08-09-2022  23:34        61,047,116 transactions.csv
02-10-2022  14:07                72 Untitled.ipynb
               6 File(s)     74,694,586 bytes
               3 Dir(s)  125,253,844,992 bytes free

In [5]:
df

,booking_id,property_id,booking_date,check_in_date,checkout_date,no_guests,room_category,booking_platform,ratings_given,booking_status,revenue_generated,revenue_realized
0,May012216558RT11,16558,2022-04-27,2022-05-01,2022-05-02,3,RT1,direct online,1.0,Checked Out,10010,10010
1,May012216558RT12,16558,2022-04-30,2022-05-01,2022-05-02,2,RT1,others,NaN,Cancelled,9100,3640
2,May012216558RT13,16558,2022-04-28,2022-05-01,2022-05-04,2,RT1,logtrip,5.0,Checked Out,9100,9100
3,May012216558RT14,16558,2022-04-28,2022-05-01,2022-05-02,2,RT1,others,NaN,Cancelled,9100,3640
4,May012216558RT15,16558,2022-04-27,2022-05-01,2022-05-02,4,RT1,direct online,5.0,Checked Out,10920,10920
...,...,...,...,...,...,...,...,...,...,...,...,...
134585,Jul312217564RT46,17564,2022-07-29,2022-07-31,2022-08-03,1,RT4,makeyourtrip,2.0,Checked Out,32300,32300
134586,Jul312217564RT47,17564,2022-07-30,2022-07-31,2022-08-01,4,RT4,logtrip,2.0,Checked Out,38760,38760
134587,Jul312217564RT48,17564,2022-07-30,2022-07-31,2022-08-02,1,RT4,tripster,NaN,Cancelled,32300,12920
134588,Jul312217564RT49,17564,2022-07-29,2022-07-31,2022-08-01,2,RT4,logtrip,2.0,Checked Out,32300,32300
134589,Jul312217564RT410,17564,2022-07-31,2022-07-31,2022-08-01,2,RT4,makeyourtrip,NaN,Cancelled,32300,12920

In [6]:
df["booking_status"].count()

134590

In [9]:
df["booking_status"].value_counts()

Checked Out    94411
Cancelled      33420
No Show         6759
Name: booking_status, dtype: int64

In [10]:
94411/134590

0.7014711345568021

In [13]:
(94411/134590)*100

70.14711345568021

In [14]:
cancellation_rate=(94411/134590)*100

In [15]:
cancellation_rate

70.14711345568021

In [16]:
df["no_guests"].value_counts()

2    60223
1    44313
3    15122
4    12096
6     1445
5     1391
Name: no_guests, dtype: int64

In [17]:
337+200

537

In [18]:
occupancy_change=((337-200)/537)*100

In [19]:
occupancy_change

25.512104283054004